.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 var(--page-padding);
    row-gap: 40px;
    margin-bottom: var(--page-padding);
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        row-gap: 40px;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        gap: 20px;;
    }
}